<div ng-if="loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-hide="loading" layout="column" layout-align="center center" layout-fill>
    <md-content ng-if="!user">
        <h1>{{ trans('page_title_authentication') }}</h1>
        <div layout="row" layout-align="space-around" flex>
            <md-button class="md-fab md-primary" aria-label="VK" ng-click="VKLogin()">
                <i class="fa fa-vk fa-2x"></i>
            </md-button>
            <md-button class="md-fab md-primary" aria-label="Facebook" ng-click="FBLogin()">
                <i class="fa fa-facebook fa-2x"></i>
            </md-button>
            <md-button class="md-fab md-primary" aria-label="Google" ng-click="GPlusLogin()">
                <i class="fa fa-google fa-2x"></i>
            </md-button>
        </div>
        <br>
        <form ng-submit="emailLogin(email, password)">
            <md-input-container class="md-block">
                <label>{{ trans('email') }}</label>
                <input ng-model="email" type="email" required>
                <div ng-messages="email.$error">
                    <div ng-message="required">{{ trans('error_email_required') }}</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>{{ trans('password') }}</label>
                <input ng-model="password" type="password" required>
                <div ng-messages="password.$error">
                    <div ng-message="required">{{ trans('error_password_required') }}</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary" type="submit">{{ trans('button_sign_in') }}</md-button>
                <md-button class="md-raised" ng-click="route('/registration')">{{ trans('button_sign_up') }}</md-button>
            </div>

        </form>
    </md-content>

    <md-content layout="column" layout-align="center center" ng-if="user">
        <h1>{{ trans('hello') }}, {{ user.name }}</h1>
        <md-list-item>
            <img class="md-avatar" ng-src="{{ user.avatar }}" alt="">
        </md-list-item>
        <md-button ng-click="logout()">
            {{ trans('button_logout') }}
        </md-button>

    </md-content>

</div>

<div style="position: absolute; top: 20px; right: 20px;">
    <md-input-container>
        <md-select ng-model="lang" ng-change="updateGlobalLang(lang)">
            <md-option vlaue="ru">ru</md-option>
            <md-option value="en">en</md-option>
        </md-select>
    </md-input-container>
</div>
