<md-sidenav
        class="md-sidenav-right"
        ng-if="enabled"
        md-is-locked-open="$mdMedia('gt-lg')"
        md-component-id="right"
        ng-cloak>
    <md-content layout-fill>
        <div layout layout-padding layout-align="start center" ng-controller="SidebarTogglerCtrl">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="rightToggle()" hide-gt-lg>
                <md-icon>close</md-icon>
            </md-button>
            <h2 class="md-title" ng-bind="trans('sidebar_search_title')">sidebar_search_title</h2>
        </div>
        <div class="md-padding chip-btn">
            <md-chips
                    class="md-primary"
                    md-autofocus
                    ng-model="searchKeywords"
                    md-on-add="updateKeywords(searchKeywords)"
                    md-on-remove="updateKeywords(searchKeywords)"
                    placeholder="{{ trans('sidebar_search_chips_placeholder') || 'sidebar_search_chips_placeholder' }}">
                <button md-chip-remove class="md-primary">
                    <md-icon md-svg-icon="md-close"></md-icon>
                </button>
            </md-chips>


            <a class="chip-btn"
                       ng-if="searchKeywords.length > 1"
                       ng-click="updateKeywords([])"
                       style="text-transform: none">
                {{ trans('delete_all_chips') }}
                <md-icon md-svg-icon="md-close" class="chip-btn-close"></md-icon>

            </a>
        </div>
    </md-content>
</md-sidenav>