<md-sidenav
        ng-if="enabled"
        md-is-locked-open="$mdMedia('gt-md')"
        class="md-sidenav-left"
        style="height: 100%"
        md-component-id="left"
        ng-cloak>
    <md-content>
        <div layout layout-padding layout-align="start center" style="background-color: #e8eaf6;">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
                <md-icon>menu</md-icon>
            </md-button>
            <h2 class="md-title" ng-bind="trans('sidebar_main_title')">sidebar_main_title</h2>
        </div>
        <div layout layout-padding layout-align="start center" style="background-color: #e8eaf6; color: #4527A0;">
            <span style="overflow: hidden; text-overflow: ellipsis;text-overflow: ellipsis;">{{ user.name || user.email }}</span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Profile" ng-click="route('/profile'); close()">
                <md-icon>settings</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Logout" ng-click="logout(); close()">
                <md-icon>exit_to_app</md-icon>
            </md-button>
        </div>
        <md-list>
            <md-list-item hide layout-padding ng-if="user" ng-controller="AuthCtrl">
                <img class="md-avatar" ng-src="{{ user.avatar }}" ng-if="user.avatar">
                <md-icon ng-if="!user.avatar">account_circle</md-icon>
                <span>{{ user.name }}</span>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Profile" ng-click="route('/profile'); close()">
                    <md-icon>settings</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
                    <md-icon>exit_to_app</md-icon>
                </md-button>
            </md-list-item>
            <md-list-item ng-click="route('/')" class="{{ currentLocationExact('/') ? 'active': '' }}">
                <md-icon>view_stream</md-icon>
                <p ng-bind="trans('sidebar_main_menu_all_news')">sidebar_main_menu_all_news</p>
                <span flex></span>
                <span class="md-subheader" ng-if="unreadCount && unreadCount <= 99">{{ unreadCount }}</span>
                <span class="md-subheader" ng-if="unreadCount && unreadCount > 99">99+</span>

            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <md-icon>whatshot</md-icon>
                <p ng-bind="trans('sidebar_main_menu_hot')">sidebar_main_menu_hot</p>
            </md-list-item>
            <md-list-item>
                <md-icon>question_answer</md-icon>
                <p ng-bind="trans('sidebar_main_menu_discussed')">sidebar_main_menu_discussed</p>
            </md-list-item>
            <md-list-item>
                <md-icon>thumb_up</md-icon>
                <p ng-bind="trans('sidebar_main_menu_interesting')">sidebar_main_menu_interesting</p>
            </md-list-item>
            <md-list-item role="listitem"
                          ng-click="route('/collections/' + collection.id)"
                          class="{{ currentLocationExact('/collections/' + collection.id) ? 'active': '' }}"
                          ng-repeat="collection in collections">
                <md-icon>folder</md-icon>
                <span flex style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis" title="{{ collection.name }}">{{ collection.name }}</span>
                <span style="margin-left: 20px" class="md-subheader" ng-if="collection.unreadCount && collection.unreadCount <= 99">{{ collection.unreadCount }}</span>
                <span style="margin-left: 20px" class="md-subheader" ng-if="collection.unreadCount && collection.unreadCount > 99">99+</span>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="route('/sources')"
                          class="{{ currentLocationExact('/sources') ? 'active': '' }}">
                <md-icon>collections_bookmark</md-icon>
                <p ng-bind="trans('sidebar_main_menu_sources')">sidebar_main_menu_sources</p>
            </md-list-item>
        </md-list>
    </md-content>

</md-sidenav>