.attachment-options-container {
    border: 2px solid #888888;
}
.drop-file-container {
    border: 2px solid #888888;
    height: 45px;
    border-radius: 2%;
    text-align: center;
    vertical-align: middle;
}

.drop-file-container:hover {
    color: #7777dd;
}

.image-list-container {
    float: right;
    display: block;
    text-align: center;
}
.draggable-image-container {
    float: left;
    max-width: 20%;
}

.draggable-image-container img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100px;
}

.draggable-image-container a {
    float: right;
    margin-top: 0;
    margin-right: 0;
    display: inline-block;
    background-color: #777777;
    font-size: 32px;
    color: #ffffff;
    cursor: pointer;
}

.post-attachment-tabs {
    border: 1px solid black;
}

.draggable-image-container a:before { content: "×"; }