<div class="drop-file-container">
    <label class="import-file">
        <input type="file" file-list-input style="display: none" multiple>
        <!--<file-list-input />-->
        <div>
            Import file...
        </div>
    </label>
</div>