<div>
    <div layout="column" layout-align="center" flex="50" flex-offset="25">
        <div><h4>POSTING LIST</h4></div>
        <div>
            <md-button class="md-raised md-primary" ng-click="createPost()">Create</md-button>
        </div>


        <md-list>
            <md-list-item ng-repeat="p in posts">
                <img ng-src="{{p.images[0].image}}" class="md-avatar">
                <div class="md-list-item-text" layout="column" ng-click="loadPost(p.id)">

                    <p><span>{{p.created_at | date}} </span>{{ p.text || '[...EMPTY...]' | limitTo:50 }}</p>
                    <p>
                    <span ng-repeat="el in ['images','docs','videos','audios']" ng-if="p[el].length > 0">
                        {{el}}: {{p[el].length}}
                    </span>
                    </p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>

    </div>

</div>