
<md-content>
    <div layout="column" layout-align="center" flex="50" flex-offset="25">
        <div>
            <md-button class="md-raised md-primary md-hue-1" ng-click="closePost()">X</md-button>
            <md-button class="md-accent md-raised md-hue-1" ng-click="deletePost()">Delete</md-button>
        </div>
        <md-input-container>
            <label>Текст</label>
            <textarea ng-model="post.text" ng-model-options="{updateOn: 'blur'}"></textarea>
        </md-input-container>

        <md-input-container>
            <label>URL</label>
            <input type="url" ng-model="post.link" ng-model-options="{updateOn: 'blur'}">
        </md-input-container>

        <div><posting-drop-container /></div>
        <div sortable-image-container class="image-list-container">
            <div ng-repeat="i in imageList" class="draggable-image-container">
                <a ng-click="deleteFile(i.id, 'image')"></a>
                <img ng-src="{{i.image}}">
            </div>
        </div>

        <div class="md-padding" layout="column" flex>
            <ul>
                <li ng-repeat="d in post.docs">
                    {{ d.name }}
                    <a ng-click="deleteFile(d.id, 'doc')">X</a>
                </li>
            </ul>
        </div>
        <div>
            <div ng-if="post.poll.length > 0">
                <button ng-click="deletePoll()">X</button>
                <span>Poll: {{post.poll[0].title}}</span>
                <ul>
                    <li ng-repeat="a in post.poll[0].answers">{{a.text}}</li>
                </ul>
            </div>
            <div ng-if="post.poll.length == 0">
                <div>
                    <input type="text" placeholder="question" ng-model="newPoll.title" />
                </div>
                <md-divider />
                <div ng-repeat="a in newPoll.answers track by $index"><input type="text" placeholder="answer" ng-model="newPoll.answers[$index]" />
                    <a ng-if="$index < newPoll.answers.length - 1" ng-click="removePollAnswer($index)">X</a>
                </div>
                <md-button ng-if="newPoll.answers.length > 1" ng-click="savePoll()">Save</md-button>
            </div>
        </div>
        <div>
            <md-checkbox ng-repeat="w in walls" ng-click="toggleWallSelected(w)">{{w.name}}</md-checkbox>
            <div>
                <md-datepicker  ng-model="publishTime"></md-datepicker>
                <md-input-container>
                    <label>hours</label>
                    <md-select ng-model="hours">
                        <md-option ng-repeat="h in hourList" value="{{h}}">{{h | reformatTimeNumber}}</md-option>
                    </md-select>

                </md-input-container>
                <md-input-container>
                    <label>minutes</label>
                    <md-select ng-model="minutes">
                        <md-option ng-repeat="m in minuteList" value="{{m}}">{{m | reformatTimeNumber}}</md-option>
                    </md-select>

                </md-input-container>

                <md-button ng-if="publishTime" ng-click="deleteTime()">X</md-button>
            </div>



            <md-button class="md-raised md-primary md-hue-1" ng-if="selectedWallList().length > 0" ng-click="publishPost()">Publish</md-button>
        </div>

    </div>
</md-content>
