<div>
    <div layout="column" layout-align="center" flex="50" flex-offset="25">
        <h4>WALLS</h4>
        <div>
            <div ng-repeat="w in walls">
                <span><img ng-src="{{w.icon}}" class="md-avatar"/>({{w.social.slug}}) {{w.name}}</span>
                <md-button ng-click="deleteWall(w.id)">DEL</md-button>
            </div>
        </div>

        <div>
            <md-button ng-click="findWalls()">Find Walls</md-button>
            <span ng-if="wallSearching">Searching...</span>
            <div ng-if="newWalls.length > 0">
                <div ng-repeat="nw in newWalls">
                    <md-checkbox ng-click="toggle(nw)">
                        <a href="{{nw.url}}" target="_blank">({{nw.type}}) {{nw.name}}</a>
                    </md-checkbox>
                </div>

            </div>
            <md-button ng-if="anySelected()" ng-click="saveWalls()">Save</md-button>
        </div>

    </div>

</div>